@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Header*/
.bd-navbar{
    background-color: #212529;
}

#header__container__container{
    margin-left: 7%;
    margin-right: 9%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}




.menuContainer{
    display: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 30;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    cursor: default;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: opacity 1s ease;
    transition-delay: 0.2s;
}

.menuContainer.show{
    opacity: 1;
    pointer-events: auto;
}






/*1st Page*/

#getStartedButton{
    background-color: #5200FF;
    border: #5200FF;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#firstPageContainer{
    width: 100%;
    background-color: #212529;
}

#firstPage{
    display: flex;
    max-width: 1305px;
    padding: 0px;
}

#firstPage__firstPageRow{
    margin-top: -50px;
    overflow-y: none;
}

#firstPage__leftContainer{
    align-items: center;
    margin-top: 130px;
}

#firstPage__leftContainer h1{
    color: white;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#firstPage__leftContainer h2{
    color: #68717A;
    margin-top: 16px;
    font-size: 17px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#firstPage__leftContainer button a{
    text-decoration: none;
    color: white;
}


#firstPage__rightContainer{
    margin-top:30px;
    margin-bottom: 129px;
}

#firstPageBottomContainer{
    width: 100%;
    height: 130px;
    background-color: #212529;
    margin-top: -129px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#firstPageBottomContainer__leftContainer{
    background-color: white;
    height: 100%;
    width: 25%;
}

#firstPage__rightContainer section picture img{
    margin-left: 0px;
    margin-right: 0px;
    transition: transform 300ms ease-in-out;
}


#firstPage__rightContainer section picture img:hover{
    transform: scale(1.02) translateY(3px);
    transition: transform 300ms ease-in-out;
}




#firstPage__centerContainer{
    width: 100%;
    background-color: white;
    height: 50px;
    position: absolute;
}

#firstPage__bottomContainer{
    background-color: white;
    color: black;
    top: 608px;
    position: absolute;
    height: 130px;
}

#firstPage__bottomContainer .row{
    width: 100%;
    margin-left: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#firstPage__bottomContainer section h1{
    color: black;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#firstPage__bottomContainer section h2{
    color: #68717A;
    font-size: 17px;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/*Second Page*/

#secondPage__container{
    display: flex;
    margin-bottom: 90px;
}

#secondPage__title{
    margin-top: 100px;
}

#secondPage__title h1{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#secondPage__container__leftContainer{
    margin-top: 50px;
}

#secondPage__container__leftContainer h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

#secondPage__container__leftContainer h2{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    line-height: 30px;
    margin-top: 50px;
}


#secondPage__container__rightContainer picture img{
    width: 420px;
    height: 440px;
    margin-top: 50px;
    margin-left: 70px;
    transition: transform 300ms ease-in-out;
}


#secondPage__container__rightContainer picture img:hover{
    transform: scale(1.02) translateY(3px);
    transition: transform 300ms ease-in-out;
}

#takeALookButton{
    margin-top: 30px;
    background-color: #5200FF;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#takeALookButton a{
    text-decoration: none;
    color: white;
}

#thirdPage{
    padding: 0;
}

#thirdPage__title{
    margin-top: 100px;
    padding-top: 20px;
}

#thirdPage__title h2{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#thirdPage__specialties{
    padding: 0;
    margin-top: 40px;
}

#thirdPage__specialties__titles{
    padding: 0;
    display: flex;
}

#thirdPage__specialties__titles h2{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#thirdPage__specialties__indicatorSection{
    display: flex;
    margin-top: 10px;
    padding: 0;
}

#thirdPage__specialties__indicatorSection__gray{
    width: 70%;
    height: 5px;
    background-color: #F3F3F3;
    z-index: 1;
}

#thirdPage__specialties__indicatorSection__purple1{
    width: 65%;
    height: 5px;
    background-color: #5200FF;
    z-index: 2;
}

#thirdPage__specialties__indicatorSection__purple2{
    width: 65%;
    height: 5px;
    background-color: #5200FF;
    z-index: 2;
}

#thirdPage__specialties__indicatorSection__purple3{
    width: 65%;
    height: 5px;
    background-color: #5200FF;
    z-index: 2;
}

#thirdPage__carouselProyects{
    margin-top: 30px;
}

#thridPage__carouselProyects__graphicDesingProyect__container{
    padding: 0;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

#thridPage__carouselProyects__graphicDesingProyect__container__images{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#thridPage__carouselProyects__graphicDesingProyect__container__images img{
    width: 240px;
    height: auto;
}

#thridPage__carouselProyects__graphicDesingProyect__container__text{
    width: 50%;
    padding: 0;
}

#thridPage__carouselProyects__graphicDesingProyect__container__text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px;
}

#thridPage__carouselProyects__graphicDesingProyect__container__text h2{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

#thirdPage__carouselProyects__softwareServiceProyect__container{
    padding: 0;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

#thirdPage__carouselProyects__softwareServiceProyect__container__images{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#thirdPage__carouselProyects__softwareServiceProyect__container__images img{
    width: 240px;
    height: auto;
}

#thirdPage__carouselProyects__softwareServiceProyect__container__text{
    width: 50%;
    padding: 0;
}

#thirdPage__carouselProyects__softwareServiceProyect__container__text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px;
}

#thirdPage__carouselProyects__softwareServiceProyect__container__text h2{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

#thirdPage__carouselProyects__seoProyect__container{
    padding: 0;
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

#thirdPage__carouselProyects__seoProyect__container__images{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#thirdPage__carouselProyects__seoProyect__container__images img{
    width: 240px;
    height: auto;
}

#thirdPage__carouselProyects__seoProyect__container__text{
    width: 50%;
    padding: 0;
}

#thirdPage__carouselProyects__seoProyect__container__text h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px;
}

#thirdPage__carouselProyects__seoProyect__container__text h2{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

#fourthPage{
    padding: 0;
}

#fourthPage__title{
    margin-top: 100px;
    padding-top: 30px;
}

#fourthPage__title h1{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}

#fourthPage__carouselTestimonials{
    margin-top: 100px;
}

#fourthPage__carouselTestimonials__first__container{
    display: flex;
    padding: 0;
    margin-bottom: 50px;
}

#fourthPage__carouselTestimonials__first__container__leftContainer{
    padding: 0;
}

#fourthPage__carouselTestimonials__first__container__leftContainer__data h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#fourthPage__carouselTestimonials__first__container__leftContainer__data h2{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #68717A;
}

#fourthPage__carouselTestimonials__first__container__leftContainer__opinion{
    margin-top: 100px;
}

#fourthPage__carouselTestimonials__first__container__leftContainer__opinion h1{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#fourthPage__carouselTestimonials__first__container__rightContainer img{
    width: 450px;
    height: auto;
}

#fourthPage__carouselTestimonials__second__container{
    display: flex;
    padding: 0;
    margin-bottom: 50px;
}

#fourthPage__carouselTestimonials__second__container__leftContainer{
    padding: 0;
}

#fourthPage__carouselTestimonials__second__container__leftContainer__data h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#fourthPage__carouselTestimonials__second__container__leftContainer__data h2{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #68717A;
}

#fourthPage__carouselTestimonials__second__container__leftContainer__opinion{
    margin-top: 100px;
}

#fourthPage__carouselTestimonials__second__container__leftContainer__opinion h1{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#fourthPage__carouselTestimonials__second__container__rightContainer img{
    width: 450px;
    height: auto;
}

#fourthPage__carouselTestimonials__third__container{
    display: flex;
    padding: 0;
    margin-bottom: 50px;
}

#fourthPage__carouselTestimonials__third__container__leftContainer{
    padding: 0;
}

#fourthPage__carouselTestimonials__third__container__leftContainer__data h1{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

#fourthPage__carouselTestimonials__third__container__leftContainer__data h2{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #68717A;
}

#fourthPage__carouselTestimonials__third__container__leftContainer__opinion{
    margin-top: 100px;
}

#fourthPage__carouselTestimonials__third__container__leftContainer__opinion h1{
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

#fourthPage__carouselTestimonials__third__container__rightContainer img{
    width: 450px;
    height: auto;
}

/*opacity: 0;
cursor-events:none;