@media(max-width:1600px){
    /*1st Page*/
    #firstPage__bottomContainer .row{
        margin-left: 17%;
    }
}

@media(max-width:1450px){
    /*1st Page*/
    #firstPage__bottomContainer .row{
        margin-left: 14%;
    }
}

@media(max-width:1400px){
    /*Header*/
    #header__container__container{
        margin-left:  0%;
        margin-right: 3%;
    }
}

@media(max-width:1390px){
    /*1st Page*/
    #firstPage__bottomContainer .row{
        margin-left: 20%;
    }
}

@media(max-width:1200px){
    /*1st Page*/
    #firstPage__rightContainer section picture img{
        width: 400px;
        height: auto;
        margin-left: 20px;
        margin-top: 50px;
    }

    #firstPage__bottomContainer{
        display: none;
    }
    #firstPageBottomContainer{
        display: none;
    }

}





